Package: com.youmingtaizi.airplanemodeswitch
Name: AirPlaneModeSwitch
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: youmingtaizi
Author: youmingtaizi
Section: Tweaks
